<div class="about-section mb-5">
  <p class="text-center  mx-auto my-10 text-6xl uppercase font-thin tracking-widest font-mono">
    ABOUT ME
  </p>
   <hr class="my-10 w-48 mx-auto">
  <a href="/admin/about/" class="grid grid-cols-2 container mx-auto">
    <div class="px-12 pn-12 mr-5">
      <%= image_tag @about[1][:about_img]%>
    </div>
    <div class="flex flex-col">
      <div class="mb-10">
        <p class="text-5xl uppercase font-hairline">
          <%= @about[1][:intro] %>
        </p>
        <p class="mt-5 leading-10">   <%= @about[1][:intro_body] %></p>
      </div>
      <div class="mb-10">
        <p class="text-5xl uppercase font-hairline">
          <%= @about[1][:subintro] %>
        </p>
        <p class="mt-5 leading-10"> <%= @about[1][:subintro_body] %></p>
      </div>
    </div>
  </a>
</div>