<div class="water-color-art">
  <p class="text-center  mx-auto my-10 text-6xl uppercase font-thin tracking-widest font-mono">
        <%= @setting.s3 %>
  </p>
  <hr class="my-10 w-48 mx-auto">
  <div class="grid grid-cols-2 container mx-auto">
    <div class="frame-area p-10">
      <%@wtitems.each do|k,v|%>
        <% unless k == @lastKey  %>
          <a  href='/admin/wt/<%= k %>' class="frame-item frame-item-1">
            <%= image_tag v %>
          </a>
        <%end%>
      <%end%>
    </div>
    <a href="/admin/wt/<%=@wtitems.length %>" class="p-10 colors-area">
      <%= image_tag @wtitems[@lastKey] %>
    </a>
  </div>
